body {
  background-color: rgba(255, 255, 255, 0.541);
}


p {
  overflow: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
} 
h1,
h2 {
  color:rgb(35, 59, 110);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:black;
}

a:hover {
  background-color: rgba(0, 139, 139, 0.37);
  color: darkblue;
  border-radius: 6%;
  
}

.page-links {
  text-align: center;
  color:rgb(35, 59, 110);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  
}

.intro {
  padding: 2%;
  background-color: rgba(236, 237, 238, 0.589);
  display: flex;
  justify-content: center;
  align-items: center; 
}


.projects-desc {
  padding-left: 5%;
}
.project-photos {
  width:75;
  height:75;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  background-color:rgba(100, 148, 237, 0.568);
  border-radius: 10%;

}

.project-buttons {
  padding: 2%;
  background-color: rgba(236, 237, 238, 0.589);
  margin:auto;

}
#sections {
  width: 75%;
  margin: auto;
}
#pfp {
  width: 15%;
  height:15%;
  border-radius: 50%;
  border-style: solid;
  border-color:white;
  border-width: 10px;
  

}
#name {
  
  width: 50%;
  text-align: center;
  color:rgb(35, 59, 110);
  font-family: Georgia, 'Times New Roman', Times;
  font-size: 300%;
  font-weight: bolder; 
}

#abt-me {
  padding-bottom: 5%;
}

